params {
    project                 = "my-test-project"
    build                   = "hg19"
    files                   = "tests/input/three/*.vcf.gz"
    allele_frequency_population              = "eur"
    mode                    = "imputation"
    refpanel_yaml           = "${baseDir}/IMPERIAL_SETUP/hapmap2.yaml"
    output                  = "output"
}